* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html {
    --bg-gradient-1: radial-gradient(circle, rgba(35, 35, 75, 1), rgba(50, 34, 76, 1), rgba(26, 26, 46, 1));
    --bg-gradient-2: radial-gradient(circle, rgba(26, 26, 46, 1), rgba(35, 35, 75, 1), rgba(50, 34, 76, 1));
    --bg-gradient-3: radial-gradient(circle, rgba(50, 34, 76, 1), rgba(26, 26, 46, 1), rgba(35, 35, 75, 1));
    --bg-color: radial-gradient(circle, rgba(35, 35, 75, 1), rgba(50, 34, 76, 1), rgba(26, 26, 46, 1));
}

body {
    background-image: var(--bg-gradient-3);
}

html, body {
    height: 100%;
}

.root-container {
    position: relative;
    height: auto;
}

.bg-stars-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-stars {
    background-color: transparent;
    /* animation: rotate360 500s linear infinite; */
}

.front-stars-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.front-stars {
    background-color: transparent;
    /* animation: rotate360 20s linear infinite; */
}

.photon-sphere-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: fade 3s ease-out;
}

.photon-sphere {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2000px;
    height: 2000px;
    /* background-color: red; */
    perspective: 700px;
    transform: rotate3d(1, 0, 0, 0deg);
    animation: photon-sphere 25s linear infinite;
}

.plane {
    position: absolute;
}

.z0-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 0px) scale(1);
    animation: scale-z0-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}

.z1-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 20px) scale(1);
    animation: scale-z1-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}

.z2-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 40px) scale(1);
    animation: scale-z2-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}

.z3-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 60px) scale(1);
    animation: scale-z3-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}

.z4-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 80px) scale(1);
    animation: scale-z4-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}

.z5-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 100px) scale(1);
    animation: scale-z5-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}

.z6-plane {
    transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 120px) scale(1);
    animation: scale-z6-plane 5s cubic-bezier(.9, 0, .050, 1.5);
}


/* Keyframes */
@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes photon-sphere {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 0, 1, 10deg);
    }

    100% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes scale-z0-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 0px) scale(1);
    }
}

@keyframes scale-z1-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 20px) scale(1);
    }
}

@keyframes scale-z2-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 40px) scale(1);
    }
}

@keyframes scale-z3-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 60px) scale(1);
    }
}

@keyframes scale-z4-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 80px) scale(1);
    }
}

@keyframes scale-z5-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 100px) scale(1);
    }
}

@keyframes scale-z6-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, -100px) scale(0);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 120px) scale(1);
    }
}

@keyframes z0-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 0px);
    }
}

@keyframes z1-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 20px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 20px);
    }
}

@keyframes z2-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 40px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 40px);
    }
}

@keyframes z3-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 60px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 60px);
    }
}

@keyframes z4-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 80px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 80px);
    }
}

@keyframes z5-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 100px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 100px);
    }
}

@keyframes z6-plane {
    0% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(0deg) translate3d(0px, 0px, 120px);
    }

    100% {
        transform: rotate3d(5, 1, 1, 60deg) rotateZ(360deg) translate3d(0px, 0px, 120px);
    }
}