* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html {
    --bg-gradient-1: radial-gradient(circle, rgba(35, 35, 75, 1), rgba(50, 34, 76, 1), rgba(26, 26, 46, 1));
    --bg-gradient-2: radial-gradient(circle, rgba(26, 26, 46, 1), rgba(35, 35, 75, 1), rgba(50, 34, 76, 1));
    --bg-gradient-3: radial-gradient(circle, rgba(50, 34, 76, 1), rgba(26, 26, 46, 1), rgba(35, 35, 75, 1));
    --bg-color: radial-gradient(circle, rgba(35, 35, 75, 1), rgba(50, 34, 76, 1), rgba(26, 26, 46, 1));
}

body {
    background-image: var(--bg-gradient-3);
}

html, body {
    height: 100%;
}

.root-container {
    position: relative;
    height: auto;
}

.bg-stars-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-stars {
    background-color: transparent;
}

.front-stars-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.front-stars {
    background-color: transparent;
}

.photon-sphere-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: fade 3s ease-out;
}

.photon-sphere {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2000px;
    height: 2000px;
    /* background-color: red; */
    perspective: 800px;
    transform-origin: 50% 50% 0px;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.plane {
    position: absolute;
}

.z0-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(0px) scale(0);
}

.z1-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(20px) scale(0);
}

.z2-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(40px) scale(0);
}

.z3-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(60px) scale(0);
}

.z4-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(80px) scale(0);
}

.z5-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(100px) scale(0);
}

.z6-plane {
    transform-origin: 50% 50% 0px;
    transform: rotateX(58deg) rotateY(15deg) rotateZ(0deg) translateZ(120px) scale(0);
}


/* Keyframes */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}